<% if model.errors.any? %>
  <% model.errors.full_messages.each do |message| %>
    <ul id='error_messages'>
    <div class='alert alert-danger'>
      <li><%= message %></li>
    </div>
    </ul>
  <% end %>
<% end %>
