<% @boards.each do |board| %>
<div class="col-sm-12 col-md-6 col-lg-4 mb-3">
  <div id="product-id-33">
    <div class="card">
      <img class="card-img-top"
           src="/assets/sample-08ca6735af47bfefce4c43e3de2182768289121aa057f141b7f4704a89670827.jpg" width="300"
           height="200" />
      <div class="card-body">
        <h4 class="card-title">
          <a href="#"><%= board.title %></a>
        </h4>
        <div style='display: inline; float: right;'>
          <a id="btn-bookmark-33" data-remote="true" rel="nofollow" data-method="post"
             href="/bookmarks?board_id=33">
            <i class="fa fa-star-o"></i>
          </a></div>


        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-user"></i>
            <%= board.user_id %>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-calendar"></i>
            <%= l board.created_at, format: :short %>
          </li>
        </ul>
        <p class="card-text"><%= board.body %></p>
      </div>
    </div>
  </div>
</div>
<% end %>