<body class='hold-transition sidebar-mini'>
<div class='wrapper'>
  <%= render 'admin/shared/header' %>
  <%= render 'admin/shared/sidebar' %>
  <!-- Content Wrapper. Contains page content -->
  <div class='content-wrapper'>
    <%= render 'shared/flash_message' %>
    <div class='container'>
      <div class='row'>
        ダッシュボードです
      </div>
    </div>
  </div>
  <!-- /.content-wrapper -->
</div>
</body>
