<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <h2>ログイン</h2>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
<%= render 'form' %>
    </div>
  </div>
</div>
</div>
</body>
